html {
    background-image: url("https://img.tukuppt.com/bg_grid/00/44/92/Le5yXXNUNb.jpg!/fh/350");
    background-size: 1400px;
    background-repeat: no-repeat;
}

.introduce {
    text-align: center;
    position: relative;
    top: 300px;
    
}

.next {
    position: relative;
    top: 20px;
    right: 10px;
    
}





